<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Dokan Blocks" xsi:noNamespaceSchemaLocation="https://schema.phpcodesniffer.com/phpcs.xsd">

	<description>PHP CodeSniffer ruleset for Dokan Blocks WordPress plugin</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/PHPCSStandards/PHP_CodeSniffer/wiki/Annotated-Ruleset
	#############################################################################
	-->

	<file>.</file>

	<!-- Exclude the Composer Vendor directory. -->
	<exclude-pattern>/vendor/*</exclude-pattern>

	<!-- Exclude the Node Modules directory. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<!-- Exclude build directories. -->
	<exclude-pattern>/build/*</exclude-pattern>

	<!-- Exclude dist directory (generated assets). -->
	<exclude-pattern>/dist/*</exclude-pattern>

	<!-- Exclude all Javascript files. -->
	<exclude-pattern>*.js</exclude-pattern>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="."/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>


	<!--
	#############################################################################
	SET UP THE RULESETS
	#############################################################################
	-->

	<!-- Include the WordPress-Extra standard. -->
	<rule ref="WordPress-Extra"/>

	<!-- Let's also check that everything is properly documented. -->
	<rule ref="WordPress-Docs"/>

	<!-- Add in some extra rules from other standards. -->
	<rule ref="Generic.Commenting.Todo"/>


	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<config name="minimum_wp_version" value="6.0"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="the-another-blocks-for-dokan"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="tanbfd"/>
				<element value="THE_ANOTHER_BLOCKS_FOR_DOKAN"/>
				<element value="The_Another\Plugin\Blocks_For_Dokan"/>
			</property>
		</properties>
	</rule>


	<!-- Register tanbfd_kses_block as a custom escaping function (extends wp_kses for block output). -->
	<rule ref="WordPress.Security.EscapeOutput">
		<properties>
			<property name="customEscapingFunctions" type="array">
				<element value="tanbfd_kses_block"/>
			</property>
		</properties>
	</rule>

	<!--
	#############################################################################
	SELECTIVE EXCLUSIONS
	Exclude specific files for specific sniffs and/or exclude sub-groups in sniffs.
	#############################################################################
	-->

	<!-- Block render callbacks require $content and $block parameters per WordPress API. -->
	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter">
		<exclude-pattern>/blocks/*</exclude-pattern>
	</rule>

	<!-- Exclude test files from GlobalVariablesOverride rule as tests often need to override globals. -->
	<rule ref="WordPress.WP.GlobalVariablesOverride">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>

	<!-- Exclude test files from Filename sniff to allow Test.php suffix. -->
	<rule ref="WordPress.Files.FileName">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>

	<!-- Exclude test files from strict coding standards. -->
	<rule ref="Generic.WhiteSpace.DisallowSpaceIndent">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FileComment.Missing">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.InlineComment.InvalidEndChar">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>

</ruleset>