<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:the-another/blocks-for-dokan-vendor-store-banner {"align":"wide","height":300,"minHeight":200,"backgroundOverlay":0.4} -->
	<div class="wp-block-the-another-dokan-store-banner alignwide dokan-store-banner">
		<!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem","left":"2rem","right":"2rem"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
		<div class="wp-block-group" style="padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem">
			<!-- wp:the-another/blocks-for-dokan-vendor-avatar {"width":"8rem","height":"8rem"} /-->
			<!-- wp:group {"style":{"spacing":{"margin":{"left":"2rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
			<div class="wp-block-group" style="margin-left:2rem">
				<!-- wp:the-another/blocks-for-dokan-vendor-store-name {"tagName":"h1"} /-->
				<!-- wp:the-another/blocks-for-dokan-vendor-rating /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:the-another/blocks-for-dokan-vendor-store-banner -->

	<!-- wp:columns {"align":"wide"} -->
	<div class="wp-block-columns alignwide">
		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:the-another/blocks-for-dokan-vendor-store-tabs /-->

			<!-- wp:the-another/blocks-for-dokan-vendor-store-terms-conditions /-->
		</div>
		<!-- /wp:column -->
		<!-- wp:column {"width":"20rem"} -->
		<div class="wp-block-column" style="flex-basis:20rem">
			<!-- wp:group {"style":{"spacing":{"blockGap":"1.5rem"}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-group">
				<!-- wp:heading {"level":3,"fontSize":"large"} -->
				<h3 class="wp-block-heading has-large-font-size">Vendor Details</h3>
				<!-- /wp:heading -->

				<!-- wp:the-another/blocks-for-dokan-vendor-store-address /-->

				<!-- wp:the-another/blocks-for-dokan-vendor-store-phone /-->

				<!-- wp:the-another/blocks-for-dokan-vendor-store-hours {"layout":"list","showCurrentStatus":true} /-->

				<!-- wp:the-another/blocks-for-dokan-vendor-contact-form /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
